*inmuebles_bogota.csv
*Identificación (Capítulo A).csv
*Datos de la vivenda y su entorno (Capítulo B).csv
*Condiciones habitacionales del hogar (Capítulo C).csv
*Composición del hogar y demografía (Capítulo E).csv
*Educación (Capítulo H).csv
*Percepción sobre las condiciones de vida y el desempeño institucional (Capítulo L).csv
*Fuerza de trabajo (Capítulo K).csv
*datos_dane.csv
